<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="logDirectory" value="logs"></property>
	<property name="logFileName" value="app.log"></property>

	<appender name="ConsoleLogAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="RollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logDirectory}/${logFileName}</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/archived/${logFileName}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="RollingFileAppender" />
	</root>

	<logger name="org.springframework.boot" level="INFO" additivity="false">
		<appender-ref ref="RollingFileAppender" />
	</logger>

	<logger name="com.test.assessment.log.event.processor" level="DEBUG" additivity="false">
		<appender-ref ref="RollingFileAppender" />
	</logger>

</configuration>